<!--
 * @Author: lyc
 * @Date: 2020-11-23 16:59:21
 * @LastEditors: lyc
 * @LastEditTime: 2020-11-25 17:42:21
 * @Description: 由于otree的特性，所有的button按钮都会触发下一页，所以使用div仿了个button
-->
{% extends "global/Page.html" %} {% load otree static %} {% block title %} 登录
{% endblock %}
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
{% block content %}
<style>
  .handle_write {
    width: 80px;
    height: 30px;
    display: flex;
    background-color: #007bff;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
</style>

<!-- <form action="/login" method="post"></form> -->

<input type="text" name="userName" id="userName" /><br /><br />
<input type="text" name="passWord" id="passWord" /><br /><br />
<div class="handle_write" onclick="handle()">
  <span style="color: white"> 登录 </span>
</div>

<div class="button" style="display: none">{% next_button %}</div>
<script>

  const handle = () => {
    let inName = $('input[id="userName"]').val();
    let inWord = $('input[id="passWord"]').val();
    // 传过来的 角色id号-1  因为是数组从0开始
    player_number = {{ id }};
    $.post("/my_view/", {
      player_number,
      csrfmiddlewaretoken: '{{ csrf_token }}',
      inName,
      inWord
    }, (data) => {
      alert('用户名密码不正确')
    });
  };
</script>
{% endblock %}
