{% extends "global/Page.html" %} {% load otree static %} {% block title %} 投资
{% endblock %}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link
  href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block content %}
<style>
  /* 设置根属性，利于其他需要设定大小的属性使用rem */
  html {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53,
      "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 62.5%;
  }

  /* body的margin自带8px，因此需要清除 */
  body {
    margin: 0;
  }
  .button {
    float: right;
    margin-top: 18rem;
  }
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">投资</h1>
    <hr class="my-4" />
    <br />

    <h4 style="float: left">B1在公共游戏中投入为:&nbsp;&nbsp;</h4>
    <h4>{{ b1_in_public }}</h4>

    <h4 style="clear: left; float: left">B2在公共游戏中投入为:&nbsp;&nbsp;</h4>
    <h4 style="float: left">{{ b2_in_public }}</h4>

    <br />
    <br />
{#    <span>本轮您准备投资给A（或B）公司</span>#}
    <div class="button">{% next_button %}</div>
    <div>
      <div id="b1" style="display: none">
        {% formfield group.sent_amount_b1 %}
      </div>
      <div id="b2" style="display: none">
        {% formfield group.sent_amount_b2 %}
      </div>
    </div>
  </div>
</div>

<!-- 选择B1、B2 -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  id="abton"
  data-target="#exampleModalCenter"
  hidden
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          如果不小心关闭该窗口，请刷新后在选择
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><h3>请选择您要投资的对象</h3></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          onclick="handleB1()"
          data-dismiss="modal"
        >
          B1
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="handleB2()"
          data-dismiss="modal"
        >
          B2
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          onclick="noneIvest()"
        >
          都不投资
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $("#abton").click();
  });
  let b1 = document.getElementById("b1");

  let b2 = document.getElementById("b2");

  let b1_default_value = document.getElementById("id_sent_amount_b1");
  let b2_default_value = document.getElementById("id_sent_amount_b2");



  function handleB1() {
    b1.style.display = "block";
    b2_default_value.value = "0";
  }

   handleB2 = () => {
    b2.style.display = "block";
    b1_default_value.value = "0";
  }; 

  noneIvest = () => {
    b1_default_value.value = "0";
    b2_default_value.value = "0";

    $(".button").find("button").click();
  };

// 设置角色A的投资 不能超过100
b1_default_value.onkeyup = ()=>{
  if(b1_default_value.value>100){
    b1_default_value.value = 100
  }
}
// 设置角色A的投资 不能超过100
b2_default_value.onkeyup = ()=>{
  if(b2_default_value.value>100){
    b2_default_value.value = 100
  }
}


</script>
{% endblock %}
