{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Contribute
{% endblock %}

{% block content %}

1 von 2

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>

<p>亲爱的参与者： </p>

<div id="app">
  <tabs></tabs>
</div>

<template id="tab">
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="游戏介绍" name="first">
        <p>
          感谢您参与与我们的游戏。在游戏中，我们对群体决策感兴趣。为了嫌取更多的资金，您仔细阅读下面的说明是很重要的。这个游戏将花费您1个小时的时间。在游戏中，您可以嫌钱，而您的总回报取决于您的决定和其他参与者的决定。游戏结束后，您将获得单抽和匿名的现金奖励。在游戏期间，我们不谈人民币，而谈象征
          性的东西（资金），在游戏结束时，所获得的游戏币将按照以下汇率兑换:10资金=1.00人民币。请您在阅读说明和做决定时慢慢来。您不能通过快速决策来影响游戏的持续时间。另外，记住您的支出取决于您的选择。在开始游戏之前，会给您一些测试題，以帮助您检查您是否理解说明。每正确回笞一个测试
          问题，您将得到一个额外的资金。游戏过程中，任何时候都不能透露参与的身份和您的报酬。您对研究人员和其他参与窖的匿名性是有保证的。如果在阅读过程中有任何问题，请举手，一个助手会过来私下回笞您的问题。请不要与其他参与者交流，请安静地提问。游戏开始后，不得再问任何问题。
          在游戏开始的时候，您被隨机分配到一个6人的小组（以下我们说的是玩家）。每个玩家都有一个唯一的ID和一个角色A（A1,A2,A3,A4,A5,A6).每个组由6个玩家组成.在整个游戏过程中，参与者ID不会改変，所有参与者匿名是有保证的，正式游戏前会有2轮的游戏热身，不计入收益不会计入总收益，正式游戏至少持续三轮，在第三轮之后，每一轮的概率为
          1/2(=50%)
        </p>
      </el-tab-pane>
      <el-tab-pane label="游戏内容" name="second">
        <p>第一部分:在每一轮中，N名A玩家中6名被随机分配到一组，同组玩家将在这一轮中共同决策。</p>
        <p>
          第二部分:每个A玩家每轮获得相同的资金.所有玩家A属于哪一角色（A1,A2,A3,A4,A5,A6)随机决定，具体情况在游戏开始前随机分配后会在相关页面告知您，请注意查看
        </p>
        <p>第三部分：游残开始后A玩家可以将游戏开始获得的游戏币选择X个资金投入公共池。X的可以为0到100的任意整数，所有本组6名A类玩家发出的游交币之和为G，G个游践币投入公共池B.</p>
{#        <p>第四部分: 同组内玩家都做出自己的选择后，公共池E会返回给每个A玩家G*MFCR个资金。[G=0.4]</p>#}
        <p>第五部分︰游戏结束后你会看到，A1玩家（以A1为例〉在该轮游戏中自己本轮的发送到公共池时的资金﹑本轮A1获得的资金、A1累计资金，本轮获得的资金数里:</p>
        <p>第六部分∶本轮实验结束，实验重复进行。注意每轮为一期，本轮的资金只能用于本轮，不被允许用于其他轮，资金每期累计，根据兑换比率10:1发放人民币.</p>
      </el-tab-pane>
      <el-tab-pane label="游戏例子" name="third">
        <p>列式—轮中玩家的收益计算如下(以A1为例）:</p>
        <p>本轮A1获得资金=初始获得资金-投入到公共池中资金+公共池中返还的资金</p>
        <p>(10个资金）-(X个资金）+(0.4*G个资金）</p>
        <p>G个游戏市表示同组内的人向公共池投入资金的总和</p>
        <p>A1本轮在评价阶段获得资金Q</p>
        <p>本轮A1最终x得资金 =10-X+0.4*G+Q</p>
        <p>每轮资金累加最终确定收益.</p>
      </el-tab-pane>
      <el-tab-pane label="游戏开始" name="fourth">
        <p align="">本轮游戏中，投入到公共池的全部资金将按比例分配资金，该比例为 0.4</p>
        <p>游戏开始 ，您获得的游戏币为100</p>
        <p>本来您将投入公共池的游戏币为</p>

    
       {% formfield player.contribution label=""%}

       {% next_button %}

       {% include Constants.instructions_template %}

      </el-tab-pane>
    </el-tabs>
  
  </div>
</template>



<script>
  const tab = Vue.extend({
    template: "#tab"
  })
  const app = new Vue({
    el: "#app",
    components: {
      'tabs': tab
    }

  })
</script>
{% endblock %}