{% extends "global/Page.html" %} 
{% load otree %} 
{% block title %} 
  Contribute
{% endblock %} 
{% block content %}

<link
  rel="stylesheet"
  href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
/>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>

<p>亲爱的参与者：</p>

<div id="app">
  <tabs></tabs>
</div>

<template id="tab">
  <div>
    <el-tabs v-model="index">
      <el-tab-pane label="游戏介绍" name="first">
        <p>
          感谢您参与我们的游戏。在游戏中，我们对群体决策感兴趣。
          为了赚取更多的游戏币，您仔细阅读下面的说明是很重要的。
          在游戏中，您可以赚钱，而您的总回报取决于您的决定和其他参与者的决定。
          游戏结束后，您将获得单独和匿名的现金奖励。在游戏期间，我们不谈人民币，而谈象征性的东西（游戏币）。
          游戏结束时，所获得的游戏币将按照以下汇率兑换:100游戏币=
          1.00人民币，请您在阅读说明和做决定时慢慢来。
          您不能通过快速决策来影响游戏的持续时间。另外，记住您的支出取决于您的选择。在游戏过程中，任何时候都不能透露参与者的身份和您的报酬。
          您对研究人员和其他参与者的匿名性是有保证的。如果在阅读过程中有任何问题，请举手，一个助手会过来私下回答您的问题。
          请不要与其他参与者交流，请安静地提问。游戏开始后，不得再问任何问题。
        </p>

        <p>
          在游戏开始的时候，您被随机分配到一个6人的小组(以下我们说的是玩家)。
          每个玩家都有一个唯一的ID和一个角色A（A1、A2、A3、A4、A5、A6）。每个组由6个玩家组成。
          在整个游戏过程中，参与者ID不会改变，同组玩家随机分配，实验至少持续5轮。
          前2轮为游戏预热阶段，在第3轮之后，正式开始游戏，正式实验持续3轮后，每一轮的概率为1/2(=
          50%)
        </p>
      </el-tab-pane>
      <el-tab-pane label="游戏内容" name="second">
        <p>
          第一部分:在每一轮中，N名A玩家中6名被随机分配到一组，他们将在这一轮中共同决策。
        </p>
        <p>
          第二部分每个A玩家每轮开始可以获得相同数量的游戏币（W）如:A1游戏币100个、A2游戏币100个、A3游戏币100个、A4游戏币100个、A5游戏币100个、A6游戏币100个。所有玩家A属于哪一角色（A1、A2、A3、A4、A5、A6）随机决定，具体情况在游戏开始前会随机分配后会在相关界面告知您，请注意查看。
        </p>
        <p>
          第三部分：游戏开始后A玩家可以将初始获得游戏币中的一部分X发送到公共池B。A玩家最多可以发送全部的游戏币(W)。所有A类玩家发出的游戏币之和为G，G个游戏币投入公共池B。
        </p>
        <p>
          第四部分:同组内玩家都做出自己的选择后，公共池B
          会返回给每个A玩家G*MPCR个游戏币。【MPCR=0.4】
        </p>
        <p>
          游戏结束后你会看到，A1玩家（以A1为例）在该轮游戏中自己本轮的发送到公共池B的游戏币、本轮A1获得的游戏币、本轮A1获得总的游戏币，同组成员向公共池投入总的游戏币数量；
        </p>
        <p>
          第六部分：本轮实验结束，实验重复进行。注意每轮为一期，本轮的游戏币只能用于本轮，不被允许用于其他轮，游戏结束后随机选取一轮数据，根据兑换比率发放人民币。
        </p>
      </el-tab-pane>
      <el-tab-pane label="游戏例子" name="third">
        <p>列式一轮中玩家的收益计算如下（以A1为例）：</p>
        <p>
          本轮A1获得游戏币=初始获得游戏币—投入到公共池中游戏币+公共池中返还的游戏币
        </p>
        <p>&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp（100个游戏币）—（X个游戏币）+（0.4*G个游戏币）</p>
        <p>G个游戏币表示同组内的人向公共池投入游戏币的总和</p>
     
        <p>本轮A1最终获得游戏币=100—X+0.4*G</p>
       
      </el-tab-pane>
      <el-tab-pane label="游戏开始" name="fourth">
        <p align="">
          本轮游戏中，投入到公共池的全部游戏币将按比例分配游戏币，该比例为 0.4
        </p>
        <p>游戏开始 ，您获得的游戏币为 100，您的角色是A2</p>
        <p>本来您将投入公共池的游戏币为</p>

        {% formfield player.contribution label=""%} 
        {% next_button %} 
        
        {% include Constants.instructions_template %}
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
  const tab = Vue.extend({
    template: "#tab",
    data() {
      return {
        index: "first",
      };
    },
  });
  const app = new Vue({
    el: "#app",
    components: {
      tabs: tab,
    },
  });
</script>
{% endblock %}
